{% include "header.html" %}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% if user %}
                    <h1>Hello {{ user.first_name }} {{ user.last_name }}</h1>
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}Oops ! It seems we have some problems with finding your template !{% endblock %}
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

{% include "footer.html" %}