{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'request/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'request/dropzone.css' %}" />

    <form method="post" action="{% url 'request:create' %}" id="dropzone-form" class="create-request-form dropzone" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        <div id="dropzonePreview" class="dz-default dz-message">
            <div>Drop or click to upload file</div>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-success" id="submit-all">
                {% bootstrap_icon "chevron-right" %} Create
            </button>
        {% endbuttons %}
    </form>

    <script src="{% static 'request/js/dropzone.js' %}"></script>
    <script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        paramName: 'file',
        uploadMultiple: true,
        parallelUploads: 100,
        maxFiles: 100,
        addRemoveLinks: true,
        previewsContainer: '#dropzonePreview',
        clickable:'#dropzonePreview',
    };
    </script>
{% endblock %}