{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'request/style.css' %}" />

    <form method="post" action="{% url 'request:create' %}" class="create-request-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success" id="submit-all">
                {% bootstrap_icon "chevron-right" %} Next
            </button>
        {% endbuttons %}
    </form>
{% endblock %}