{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}" />

    <form method="post" action="{% url 'user:create' %}" class="sign-up-form">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Sign up
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
